[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "thirdparty/RayTracingDenoiser"]
	path = thirdparty/RayTracingDenoiser
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser.git
